<div class="container mt-4">
  <div class="row">
    <h1>Toma de datos...</h1>
    <br>
    <h2>Nombre:</h2>
    <br>
    <input type="text" class="form-control" placeholder ="nombre">
    <h2>Apellido:</h2>
    <br>
    <input type="text" class="form-control" placeholder ="apellido">
    <h2>Direccion:</h2>
    <br>
    <input type="text" class="form-control" placeholder ="direccion">
    <h2>Telefono:</h2>
    <br>
    <input type="text" class="form-control" placeholder ="telefono">
  </div>  
  <div class="row">
    <h2>Muestreo de datos...</h2>
    
    <br>
    <h2>Nombre:</h2>
    <br>
    <input type="text" class="form-control" [placeholder]="nombre">
    <h2>Apellido:</h2>
    <br>
    <input type="text" class="form-control" [placeholder]="apellido">
    <h2>Direccion:</h2>
    <br>
    <input type="text" class="form-control" [placeholder]="direccion">
    <h2>Telefono:</h2>
    <br>
    <input type="text" class="form-control" [placeholder]="telefono">
  </div>
  <br>
  <button type="button"  class="btn btn-warning btn-xs">Mostrar datos</button>
</div>