<div class="container mt-4">    
  <div class="row">
    <br>
    <div class="muestreo">
      <h2>Muestreo de datos...</h2>
    </div>
    <div>
      <input type="text" class="form-control" placeholder ="escriba su nombre" [(ngModel)]="nombre">
      <h3>Nombre: {{nombre}}</h3>
      <br>
      <input type="text" class="form-control" placeholder ="escriba su apellido" [(ngModel)]="apellido">
      <h3>Apellido: {{apellido}}</h3>
      <br>
      <input type="text" class="form-control" placeholder ="escriba su direccion" [(ngModel)]="direccion">
      <h3>Direccion: {{direccion}}</h3>
      <br>
      <input type="text" class="form-control" placeholder ="escriba su telefono" [(ngModel)]="telefono">
      <h3>Telefono: {{telefono}}</h3>
      <br>
    </div>
  
</div>